

*{
    margin: 0;padding: 0;
}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: rgb(91, 147, 196);

    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
nav .left{
    font-size: 32px;
    margin: 0px 20px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
main{
    color: white;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 90px;
}
section .leftsection{
    width: 50;
    
    font-size: 3rem;
 
    display: flex;
    align-items: center;
}
section .rightsection{
    width: 40%;
    display: flex;
    align-items: center;
    
}
section .rightsection img{
    width: 150%;
}
.leftsection .name {
    color: rgb(91, 147, 196);
}
.con .line1{
    margin-bottom: 20px;
}
#element {
    color: rgb(91, 147, 196);
}
.secsection h1{
    margin-left: 10%;
    font-size: 1.9rem;;
}
main hr{
    color: rgb(91, 147, 196);
    margin: 40px 84px;
}

.secsection .box{
    background-color: rgb(91, 147, 196);

    height: 1.5px;
    margin: 65px 162px;
    display: flex;
}
.secsection .box .vertical{
    background-color:  rgb(91, 147, 196);

    height: 150px;
    width: 1.5px;
    margin-right: 300px;
  
}
.secsection .box .vertical .con{
    font-size: 22px;
    width: 200px;
    margin: 5px 3px;
    font-weight: bold;
   
}
.secsection .box .vertical .desc{
    width: 200px;
    margin-top: 90px;
    color: rgb(91, 147, 196);

}
.about{
    align-items: center;
    background-image: url(bg2.jpg);
    color: rgb(248, 244, 244);
    width: 90%;
    margin: 100px 0px 100px 0px;
    height: 550px;
    line-height: 2;
    display: flex;
    justify-content: center;
}
.abouttext{
    margin: 0px 50px 0px 50px;
    
}
.services{
    margin: 400px 150px 0px 150px;
}
.shead{
    font-size: 1.9rem;
}
.servicestext{
    background-color: aliceblue;
    height: 600px;
    
}
.service1{
    background-color: rgb(99, 142, 142);
    height: 400px;
    width: 300px;
    margin: 50px;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	float: left;
	width: 20%;
    height: 400px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

.centertext{
    position: absolute;
    width: 1000px;
    height: 50%;
    margin: 50px;
    margin-left: 100px;
    line-height: 2rem;
    
    
    
}
.serviceh{
    font-size: 1.9rem;
    margin: 50px;
    
}
.contentservice{
    font-size: 1.5rem;
    line-height: 2rem;

}
.slider1{
    position: relative;
    text-align: center;
    color: white;
    margin-left: 0 rem; 
}
.slider3{
    position: relative;
    text-align: center;
    color: white;
    margin-left: 140rem; 
}

.slider4{
    position: relative;
    text-align: center;
    color: white;
    margin-left: 210rem; 
}

.slider5{
    position: relative;
    text-align: center;
    color: white;
    margin-left: 280rem; 
}

.slider2{
    position: relative;
    text-align: center;
    color: white;
    margin-left: 70rem; 
}

